@import "../../styles/colors";
.inputContainer {
  position: relative;
  .input {
    border: 1px solid $light-grey;
    border-radius: 6px;
    font-size: 1rem;
    padding: 0.7rem;
    width: 100%;
    outline: none;

    &:focus {
      border: 1px solid $primary;
    }

    &:disabled {
      background-color: #f2f2f8;
      cursor: not-allowed;
    }
  }
  .passImg {
    position: absolute;
    right: 12px;
    top: 16px;
    width: 17px;
    height: 17px;
    cursor: pointer;
  }
}
