@import "./../../styles/responsive";

.home-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-size: 18px;
  height: 100%;
  background: linear-gradient(
      107.75deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(239, 93, 168, 0.2) 29.54%,
      rgba(246, 165, 207, 0.110513) 54.46%,
      rgba(88, 88, 198, 0.2) 72.04%,
      rgba(88, 88, 198, 0.2) 89.88%
    ),
    #ffffff;

  .sec-title {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
    color: #271651;
    margin: 2rem 0;
    text-transform: capitalize;
  }

  .sec-desc {
    font-size: 1.13rem;
    color: #2f2f89;
    line-height: 2.5rem;
    text-transform: capitalize;
  }

  .section0 {
    scroll-snap-align: center;
    scroll-behavior: smooth;
  }

  .section1 {
    background-color: #ffe3dd;
    scroll-snap-align: center;
    scroll-behavior: smooth;
  }

  .section2 {
    background: linear-gradient(
        0deg,
        rgba(88, 88, 198, 0.06),
        rgba(88, 88, 198, 0.06)
      ),
      #ffffff;
      scroll-snap-align: center;
      scroll-behavior: smooth;
  }

  .section3 {
    background: linear-gradient(
        0deg,
        rgba(239, 93, 168, 0.06),
        rgba(239, 93, 168, 0.06)
      ),
      #ffffff;
      scroll-snap-align: center;
      scroll-behavior: smooth;
      scroll-margin-bottom: 300px;
  }

  .fixed {
    position: fixed;
  }

  @include tablet {
    text-align: center;

    .sec-title { 
      font-size: 1.2rem;
      line-height: 1.7rem;
      padding-top: 25%;
    }
    .sec-desc {
      line-height: 1.9rem;
    }
    .fixed {
      padding: 1%;
    }
  }

  @include tabLandscape {
    .sec-title { 
      font-size: 1.2rem;
      line-height: 2.2rem;
    }
    .sec-desc {
      text-align: left;
    }
    .fixed {
      padding: 1%;
    }
  }

  @include mobile {

    .sec-title { 
      font-size: 1.2rem;
      line-height: 2.5rem;
      padding-top: 25%;
      text-align: center;
    }
    .sec-desc { 
      font-size: 0.8rem;
      line-height: 1.8rem;
      padding: 0 5%;
      text-align: center;
    }
  }

  @include smallDevice {
    scroll-snap-type: initial;
  }

  @include mobileLandscape {
    scroll-snap-type: initial;
    .sec-title { 
      padding-top: 4%;
    }
  }
  

}

