@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/responsive";

.exploreBtn {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 333px;
  color: white;
  cursor: pointer;

  .tail {
    background-color: #9db0c7;
    width: 16px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .main {
    background-color: #ef5da8;
    flex: 1;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 45px solid #5e6770;
    margin-left: 7px;
    border-radius: 5px;

    @include mobile {

        border-top-width: 22px;
        border-bottom-width: 22px;
        border-left-width: 30px;
        margin-left: 3px;
    
    }
  }
}